.barrasup {
    display: flex;
    background-color: #ffffff;
    height: 80px;
    padding-left: 2px;
    border: solid;
    border-color: rgb(255, 255, 255);
}
.navbar-nav {
    padding-left: 1310px;
}
.logo {
    display: flex;
    width: 70%;
    height: 70%;
    padding-top: 30px;
}
legend{
    color: red;
}
fieldset{
    color: black;
}
.h1__titulo {
    color: red;
    text-align: center;
    border: solid;
    border-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.textotitulo {
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logos{
    text-align: center
}
.footer{
    background-color: rgb(245, 245, 245);
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 2.5rem;
}

