.header {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    list-style: none;
    text-align: left;
    text-decoration: none;
}

.header a {
    color: rgb(0, 0, 0);
}
.barrasup {
    display: flex;
    background-color: #ffffff;
    height: 80px;
    padding-left: 2px;
    border: solid;
    border-color: rgb(255, 255, 255);
}
.navbar-nav {
    padding-left: 1311px;
}
.logo {
    display: flex;
    width: 70%;
    height: 70%;
    padding-top: 30px;
}
.h1__titulo {
    color: red;
    text-align: center;
    border: solid;
    border-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.texto_titulo {
    text-align: center;
    margin: 0px;
    padding: 0px;
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.h2__subtitulos {
    color: red;
}
.footer{
    background-color: rgb(245, 245, 245);
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 2.5rem;
}
.logos{
    text-align: center
}


