<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcas</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img src="/Assets/LogoSample_ByTailorBrands.jpg" alt=""></a>
        <ul>
            <li> <a href="/views/contactos.html">Contactanos</a></li>
            <li><a href="/views/quienes somos.html">Quienes somos</a></li>
            <li><a href="/views/servicios.html">Servicios</a></li>
            <li><a href="/views/marcas.html">Marcas</a></li>
        </ul>
    </header>
    <main>
        <h1>En AlteaService se atienden muchas marcas de vehiculos,entre ellas:</h1>
        <ul>
            <li>Seat (La cual nosotros preferimos atender)</li>
            <img src="/Assets/Img/Seat-Logo-2012-2048x1152.jpg" alt="" width="450" height="250" >
            <li>Volkswagen (La cual nosotros preferimos atender)</li>
            <img src="/Assets/Img/Volkswagen.jpg" alt="" width="400" height="250" >
            <li>Audi (La cual nosotros preferimos atender)</li>
            <img src="/Assets/Img/Audi-emblem-2016-black-1920x1080.jpg" alt="" width="450" height="250">
            <li>Ford</li>
            <img src="/Assets/Img/Ford-logo-1929-1440x900.jpg" alt="" width="450" height="250">
            <li>Chevrolet</li>
            <img src="/Assets/Img/Chevrolet-logo-2013-2560x1440.jpg" alt="" width="450" height="250">
            <li>Fiat</li>
            <img src="/Assets/Img/Fiat-text-logo-1920x1080.jpg" alt="" width="450" height="250">
            <li>Citroën</li>
            <img src="/Assets/Img/citroen-png-logo-11.jpg" alt="" width="450" height="250">
            <li>Peugeot</li>
            <img src="/Assets/Img/Peugeot-logo.jpg" alt="" width="450" height="250">
            <li>Renault</li>
            <img src="/Assets/Img/Renault-logo-1992-1920x1080.jpg" alt="" width="450" height="250">
            <li>Daewoo</li>
            <img src="/Assets/Img/daewoo.jpg" alt="" width="450" height="250">
            <li>Hyundai</li>
            <img src="/Assets/Img/hyundai.jpg" alt="" width="450" height="250">
            <li>Toyota</li>
            <img src="/Assets/Img/toyota.jpg" alt="" width="450" height="250">
            <li>Suzuki</li>
            <img src="/Assets/Img/suzuki.jpg" alt="" width="450" height="250">
            <li>Kia</li>
            <img src="/Assets/Img/kia.jpg" alt="" width="450" height="250">
            <li>Honda</li>
            <img src="/Assets/Img/honda.jpg" alt="" width="450" height="250">

        </ul>
    </main>
    <footer>
        <!--Esto esta adentro del footer-->
        <p>Nos puede encontrar en Nueva Pompeya a la altura de Av. Del Barco Centenera 3566, Capital Federal.</p>
        <p>Horarios de atencion al cliente:
            Lunes a Viernes de 8:00 a 18:00 y Sabados de 10:00 a 16:00</p>
        <a>
            <a class="logos">(logo de Instagram)</a>Instagram <a href="#">(con href al Instagram)</a>
            <br>
            <a class="logos">(logo de Twitter)</a> Twitter <a href="#">(con href al Twitter)</a>
            <br>
            <a class="logos">(logo de Facebook)</a> Facebook <a href="#">(con href al Facebook)</a>
            <br>
            <a class="logos">(logo de Pinterest)</a>Pinterest <a href="#">(con href al Pinterest)</a>
            <br>
            <a class="logos">(logo de Linkedin)</a>Linkedin <a href="#">(con href al Linkedin)</a>
        </a>
    </footer>
</html>