<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos</title>
</head>

<body>
    <header class="header">
        <a href="../index.html"><img src="/Assets/LogoSample_ByTailorBrands.jpg" alt=""></a>
        <ul>
            <li> <a href="/views/contactos.html">Contactanos</a></li>
            <li><a href="/views/quienes somos.html">Quienes somos</a></li>
            <li><a href="/views/servicios.html">Servicios</a></li>
            <li><a href="/views/marcas.html">Marcas</a></li>
        </ul>
    </header>
    <main>
        <h1>Un poco de información sobre AlteaService</h1>
        <p>con más de 20 años brindando servicio para el automóvil contamos con una amplia experiencia y continua
            capacitación. lo que nos permite ofrecerle un servicio moderno y de alta calidad.
            <br>
            <br>
            la alta complejidad de los vehículos a inyección electrónica de hoy en día ha generado una gran brecha entre
            aquellos profesionales dispuestos a capacitarse día a día y quienes aún no se han dado cuenta de esta
            evolución
            permanente.
            <br>
            <br>
            nosotros trabajamos día a día para garantizar una excelente calidad de servicio.</p>

        <h2>En AlteaService se piensa en verde</h2>
        <p>en altea minimizamos los efectos contaminantes de la industria, de que manera lo hacemos:</p>
        <p>el aceite extraído de los vehículos durante los servicios es almacenado y luego se envía a una empresa que lo
            reutiliza para la fabricación de diversos productos (el aceite usado que se maneja de forma apropiada puede
            volver a refinarse para producir lubricantes, transformarse en aceite combustible y usarse como materia
            prima
            para las refinerías y las industrias petroquímicas). las industrias con las cuales trabajamos son:</p>
        <ul>
            <li>aceiteservices</li>
            <li>oilservices</li>
            <li>transporte silva</li>
        </ul>
        <p>todas estas entregan certificado de retiro y deposicion final</p>
        <p>los cartones contenedores de repuestos se almacenan para poder ser entregado para su reciclado.</p>
        <p>la iluminación de trabajo es del tipo bajo consumo, tanto en 220v como en 12v. minimizando de esta manera el
            consumo de energía y la generación de calor.
            para la iluminación de lugares difíciles o reducidos utilizamos dispositivos led, que no solo consumen poca
            energía sino que, en nuestro caso, son alimentados por baterías recargables de larga duración.</p>
        <p>los elementos de diagnostico e informáticos son modernos y cumplen con las normas vigentes en el mundo sobre
            el
            manejo eficiente de la energía.</p>
        <p>Altea colabora con la campaña de reciclado de plastico para los chicos del Garraham. asi que cuando venga a
            vernos traiga todas las tapitas que puedan.</p>
            
            <footer>
                <!--Esto esta adentro del footer-->
                <p>Nos puede encontrar en Nueva Pompeya a la altura de Av. Del Barco Centenera 3566, Capital Federal.</p>
                <p>Horarios de atencion al cliente:
                    Lunes a Viernes de 8:00 a 18:00 y Sabados de 10:00 a 16:00</p>
                <a>
                    <a class="logos">(logo de Instagram)</a>Instagram <a href="#">(con href al Instagram)</a>
                    <br>
                    <a class="logos">(logo de Twitter)</a> Twitter <a href="#">(con href al Twitter)</a>
                    <br>
                    <a class="logos">(logo de Facebook)</a> Facebook <a href="#">(con href al Facebook)</a>
                    <br>
                    <a class="logos">(logo de Pinterest)</a>Pinterest <a href="#">(con href al Pinterest)</a>
                    <br>
                    <a class="logos">(logo de Linkedin)</a>Linkedin <a href="#">(con href al Linkedin)</a>
                </a>
            </footer>
    </main>
</body>

</html>