<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/backup.css">
    <link rel="icon" href="../Assets/Foto perfil.jpg">
</head>

<body class="body">
    <header class="barrasup">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"><img src="../Assets/LogoSample_ByTailorBrands.jpg"
                        alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/views/contactos.html">Contactanos</a>
                        <a class="nav-link active" href="/views/quienes somos.html">Quienes Somos</a>
                        <a class="nav-link active" href="/views/servicios.html">Servicios</a>
                        <a class="nav-link active" href="/views/marcas.html">Marcas</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="main">
        <h1 class="h1__titulo">Un poco de información sobre AlteaService</h1>
        <p class="texto_titulo">Con más de 20 años brindando servicio para el automóvil contamos con una amplia
            experiencia y continua
            capacitación. lo que nos permite ofrecerle un servicio moderno y de alta calidad.
            <br>
            <br>
            La alta complejidad de los vehículos a inyección electrónica de hoy en día ha generado una gran brecha entre
            aquellos profesionales dispuestos a capacitarse día a día y quienes aún no se han dado cuenta de esta
            evolución
            permanente.
            <br>
            <br>
            nosotros trabajamos día a día para garantizar una excelente calidad de servicio.
        </p>

        <h2 class="h2__subtitulos">En AlteaService se piensa en verde</h2>
        <p>En altea minimizamos los efectos contaminantes de la industria, de que manera lo hacemos:</p>
        <p>El aceite extraído de los vehículos durante los servicios es almacenado y luego se envía a una empresa que lo
            reutiliza para la fabricación de diversos productos (el aceite usado que se maneja de forma apropiada puede
            volver a refinarse para producir lubricantes, transformarse en aceite combustible y usarse como materia
            prima
            para las refinerías y las industrias petroquímicas). las industrias con las cuales trabajamos son:</p>
        <ul>
            <li>aceiteservices</li>
            <li>oilservices</li>
            <li>transporte silva</li>
        </ul>
        <p>todas estas entregan certificado de retiro y deposicion final</p>
        <p>los cartones contenedores de repuestos se almacenan para poder ser entregado para su reciclado.</p>
        <p>la iluminación de trabajo es del tipo bajo consumo, tanto en 220v como en 12v. minimizando de esta manera el
            consumo de energía y la generación de calor.
            para la iluminación de lugares difíciles o reducidos utilizamos dispositivos led, que no solo consumen poca
            energía sino que, en nuestro caso, son alimentados por baterías recargables de larga duración.</p>
        <p>los elementos de diagnostico e informáticos son modernos y cumplen con las normas vigentes en el mundo sobre
            el
            manejo eficiente de la energía.</p>
        <p>Altea colabora con la campaña de reciclado de plastico para los chicos del Garraham. asi que cuando venga a
            vernos traiga todas las tapitas que puedan.</p>


    </main>
    <footer class="footer">
        <!--Esto esta adentro del footer-->
        <div class="textofooter">
            <p>Nos puede encontrar en Nueva Pompeya a la altura de Av. Del Barco Centenera 3566, Capital Federal.</p>
            <p>Horarios de atencion al cliente: a Viernes de 8:00 a 18:00 y Sabados de 10:00 a 16:00</p>
        </div>
        <div class="logos">
            <a>
                <a href="https://www.instagram.com/agusconde9/"><img src="/Assets/Img/logo-ig-png-32457.png" alt=""
                        height="25" width="25"></a>

                <a href="https://twitter.com/agusconde9"><img src="/Assets/Img/5a2fe479cc45e43754640849.webp" alt=""
                        height="25" width="25"></a>

                <a href="https://www.linkedin.com/in/agustin-conde-51437a219/"><img
                        src="/Assets/Img/linkedin-png-linkedin-icon-1600.webp" alt="" height="25" width="25"></a>

                <a href="https://github.com/AgusConde9"><img src="/Assets/Img/github_PNG40.webp" alt="" height="25"
                        width="25"></a>

                <a href="https://www.tiktok.com/@agusconde9"><img src="/Assets/Img/Round-TikTok-Logo-1536x1536.webp"
                        alt="" height="25" width="25"></a>
            </a>
        </div>
    </footer>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

</html>