<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="/CSS/estilo.css">
</head>

<body>
    <header class="header">
        <nav>
            <a href="../index.html"><img src="/Assets/LogoSample_ByTailorBrands.jpg" alt=""></a>
            <li> <a href="/views/contactos.html">Contactanos</a></li>
            <li><a href="/views/quienes somos.html">Quienes somos</a></li>
            <li><a href="/views/servicios.html">Servicios</a></li>
            <li><a href="/views/marcas.html">Marcas</a></li>
        </nav>
    </header>
    <main>
        <ul>
            <h1 class="h1__titulo">Servicios que se realizan dentro del taller de AlteaService</h1>
            <li>Servicio de cambio de Aceite/fluidos y Filtros (Se incluye el escaneo de todas las unidades de control y
                revision integral del auto)</li>
            <li>Diagnóstico Computarizado.</li>
            <p>Contamos con equipos originales de las automotrices para analizar y relevar toda la información necesaria
                de las unidades de control que contenga su automóvil.</p>
            <li>Inyección electrónica.</li>
            <p>Mediante la utilización de las ultimas herramientas electrónicas en el mercado somos capaces de
                solucionar los problemas que pueden surgir con la inyección (Monopunto, Multipunto, Inyectores Bomba y
                Common Raid).</p>
            <li>Inmovilizadores.</li>
            <p>Al contar con computadoras originales del grupo tenemos la capacidad de codificar llaves y de brindar una
                solución a los problemas típicos de los inmovilizadores y las llaves con chips. </p>
            <li>Limpieza y control en banco de inyectores por ultrasonido.</li>
            <p>Realizamos la limpieza de los inyectores utilizando dos métodos. El primero y menos invasivo es el método
                de diálisis. Que permite la limpieza de los inyectores sin desmontarlos del motor. Este sistema es ideal
                para vehículos antiguos o con instalaciones en malas condiciones.
                El segundo método, el más efectivo, es la limpieza por ultrasonido. En la cual se retiran los inyectores
                del motor y se realiza una limpieza en una maquina de ultrasonido, utilizando químicos especiales.</p>
            <li>Sistema de aire acondicionado.</li>
            <p>Se realizan las revisiones necesarias para asegurar que no haya fugas y se recarga con gas ecológico.</p>
            <li>Mecanica en general.</li>
            <ul>
                <li>Distribución.</li>
                <li>Frenos.</li>
                <li>Suspensión.</li>
                <li>Tren delantero.</li>
                <li>Sistema de refrigeración.</li>
                <li>Cambios de fluidos y filtros.</li>
            </ul>
            <li>Instalación de accesorios Premium (Sensores de estacionamiento - Kit XENON).</li>
            <li>Exclusivo sistema de limpieza de tapizados traido de USA</li>
        </ul>

    </main>


    <footer>
        <!--Esto esta adentro del footer-->
        <p>Nos puede encontrar en Nueva Pompeya a la altura de Av. Del Barco Centenera 3566, Capital Federal.</p>
        <p>Horarios de atencion al cliente:
            Lunes a Viernes de 8:00 a 18:00 y Sabados de 10:00 a 16:00</p>
        <a>
            <a class="logos">(logo de Instagram)</a>Instagram <a href="#">(con href al Instagram)</a>
            <br>
            <a class="logos">(logo de Twitter)</a> Twitter <a href="#">(con href al Twitter)</a>
            <br>
            <a class="logos">(logo de Facebook)</a> Facebook <a href="#">(con href al Facebook)</a>
            <br>
            <a class="logos">(logo de Pinterest)</a>Pinterest <a href="#">(con href al Pinterest)</a>
            <br>
            <a class="logos">(logo de Linkedin)</a>Linkedin <a href="#">(con href al Linkedin)</a>
        </a>
    </footer>
</body>

</html>